body
{
background-position: center;
background-size: cover;
}
a
{
font-size: 20px !important;
width: 400px;
border-radius: 30px !important;
background-color: rgb(255, 255, 255);
color: black;
}

.play_button
  {
  	width: 130px;
  	font-size: 25px;
      float: right;
      background-color: black;
  }